#project-settings {
    position: relative;
    margin-top: 3vw;
    margin-left: 5vw;
    margin-right: 8vw;
    width: 87vw;
}

#settings-back-button {
    position: relative;
    background-color: #083c61;
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    padding: 1vw;
    padding-top: 0;
    padding-bottom: 0;
}

#settings-project-name {
    position: relative;
    display: inline-block;
    background-color: #0D68A9;
    color: white;
    margin-left: 3vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 3vw;
    width: 18vw;
    text-align: center;
}

#edit-project-name-btn {
    position: relative;
    display: inline-block;
    margin-left: 1vw;
    cursor: pointer;
    bottom: 0.5vw;
}

#settings-project-id {
    position: relative;
    text-align: left;
    font-size: 2vw;
    margin-left: 10vw;
    margin-top: 0.5vw;
    width: max-content;
}

#delete-project-btn {
    position: relative;
    margin-left: 10vw;
    margin-top: 3vw;
}

#invites-title {
    position: relative;
    margin-left: 10vw;
    margin-top: 3vw;
    display: inline-block;
    font-size: 3vw;
}

#edit-invites-btn {
    position: relative;
    display: inline-block;
    margin-left: 1vw;
    cursor: pointer;
    bottom: 0.75vw;
}

#invite-list {
    position: relative;
    height: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 10vw;
    width: 48vw;
}